@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  height: 10%;
  border-radius: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  background-color: #000;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 200;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(22, 21, 21);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: #fff;

  padding-bottom: 2px;
  border-bottom: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

button {
  font-family: inherit;
}
/******************************************************** Nav bar *****************************************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  animation: revealNav 1.5s 1;
}

@keyframes revealNav {
  from {
    transform: translateY(-5vw);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav__brand {
  font-size: 2rem;
  transition: all 0.3s;
  color: green;
}

.bd {
  font-size: 3rem;
  color: rgba(211, 35, 35, 0.788);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__links li:last-child a {
  font-weight: 500;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;

  background-color: rgb(31, 31, 31);
  color: #fff;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: #000;
}

.nav__toggle {
  display: none;
}

/* header */

.header__bg-img {
  height: 89vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/header-img.jpg") center no-repeat;
  background-size: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150rem;
  color: #fff;
  padding: 6rem;
}

.header__content button {
  width: 12rem;
  margin-top: 3rem;
}

.header__title {
  font-size: 8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.header__description {
  font-size: 1.2rem;
  max-width: 70rem;
}

/* packages */
.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.section__description {
  font-style: oblique;
  font-size: 1.2rem;
}

.section__header {
  font-size: 4rem;
}

.packages__tab-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.packages__tab {
  position: relative;
  transition: all 0.3s;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.packages__tab:hover {
  color: #000;
  font-weight: 500;
}

.packages__tab:hover::before {
  content: " ";
  position: absolute;
  width: 100%;
  top: 25px;
  bottom: 10px;
  border-bottom: 2px solid #000;
}

.packages__tab--active {
  color: #000;
  font-weight: 500;
}
.packages__tab--active::before {
  content: " "; /* to ensure it displays */
  position: absolute;
  width: 100%;
  top: 25px;
  bottom: 10px;
  border-bottom: 2px solid #000;
}

.packages__contents {
  display: none;
}

.packages__content {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  padding: 6rem;
}

.package__card {
  width: 28rem;
  height: 25rem;
  transition: all 0.3s;
}

.package__card:hover .package__card--img {
  height: 12rem;
}

.package__card--img {
  height: 15rem;
  overflow: hidden;
  transition: all 0.3s;
}

.package__card--img img {
  width: 100%;
  overflow: hidden;
  height: 15rem;
  transition: all 0.3s;
}

.package__card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: c;
}
